extends layout

block content
  div(id="search-form-div")
    form(action='/ig/subscribe',method='post', class='centered hash-tag-form')
      label(for='hash_tag') #
      input(class='hash-tag-input',type='text', placeholder='nofilter',name='hash_tag', autocomplete='off')
      button(type='submit') Find
  div(id="map-div")
    div(id='corner-search-div')
      form(action='/ig/subscribe',method='post',class='hash-tag-form')
        input(class='hash-tag-input',type='text', placeholder='Find another hash tag...',name='hash_tag', autocomplete='off')
        button(type='submit')
          i(class='fa fa-search')
    div(id='hash-tag-display', class='hidden')
      p
    div(id='posts-container')
    div(id='captions-container', class='hidden')
  div(class='modal fade' tabindex='-1' id='alert-modal' role='dialog' aria-hidden='true')
    div(class='modal-dialog modal-sm')
      div(class='modal-content') 
        span 
        br
        button(id='close-modal') OK
