doctype html
html
  head
    title= title
    script(src="/javascripts/socket.io/socket.io.js")
    script(src="/javascripts/jquery/jquery-1.11.1.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
    script(src="/javascripts/bootstrap/bootstrap.js")
    script(src="/javascripts/map.js")
    script(src="/javascripts/message_handler.js")
    script(src="/javascripts/document_events.js")
    script(src="/javascripts/app.js")

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300')
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
