doctype html
html
  head
    title= title
    script(src="/javascripts/socket.io/socket.io.js")
    script(src="/javascripts/jquery/jquery-1.11.1.min.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="/javascripts/map.js")
    script(src="/javascripts/messageHandler.js")
    script(src="/javascripts/app.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
