body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #001220;
  color: #d7d7d7;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #00b7ff;
}
#search-form-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  background-image: url("/images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#description {
  bottom: 2rem;
  position: absolute;
  left: 50%;
  width: 460px;
  margin-left: -230px;
  text-align: center;
  font-size: 14px;
}
.hidden {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
label {
  vertical-align: middle;
  font-size: 25px;
}
input[type=text] {
  color: #555;
  padding: 0;
  text-indent: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
input[type=text]:focus {
  border-color: #007bb6;
  outline: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,123,182,0.6);
}
#search-form-div .hash-tag-input {
  height: 40px;
  width: 400px;
  padding: 0;
  font-size: 25px;
}
#map-div .hash-tag-input {
  height: 25px;
  width: 180px;
  font-size: 12px;
}
button {
  width: 120px;
  height: 42px;
  vertical-align: middle;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #01405f;
  border-color: #517fa4;
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #002c41;
}
#map-div button {
  font-size: 12px;
  height: 27px;
  width: 30px;
}
.centered {
  position: relative;
  top: 40%;
}
#map-div {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
#corner-search-div {
  position: absolute;
  top: 0px;
  left: 0px;
}
#hash-tag-display {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 30px;
  font-size: 100px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#hash-tag-display p {
  margin-bottom: 0px;
  font-size: 3rem;
}
#posts-container {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}
#posts-container div {
  width: 270px;
  height: 270px;
  background: #d7d7d7;
  margin: 0;
  padding: 0;
}
#posts-container div img {
  width: 260px;
  height: 260px;
  position: absolute;
  border: 1px solid #d3d3d3;
  left: 5px;
  top: 5px;
}
#captions-container {
  font-size: 12px;
  position: absolute;
  bottom: 1.5rem;
  left: 295px;
  width: 500px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.modal-content {
  color: #555;
  text-align: center;
  width: 300px;
  height: 170px;
  padding: 20px;
  line-height: 1.4;
  font-size: 20px;
}
.modal-content button {
  width: 100px;
  font-size: 20px;
  margin-top: 15px;
}
